{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>
<body class="bg-gray-100">
  <nav class="bg-indigo-900 shadow-lg py-2 md:py-4">
    <div class="container px-4 md:flex md:items-center mx-auto">
      <a href="#" class="font-bold text-xl text-white">Propfolio</a>
    </div>
  </nav>
  <div class="bg-indigo-200 m-7 p-6">
    <div class="text-4xl text-gray-800 font-medium">Good afternoon, Jess 👋</div>
    <div class="mt-4">Upload & visualize data quickly with our reporting tool</div>
  </div>
  <div class="flex">
    <div class="w-1/2">
      <div class="m-10 font-bold text-indigo-600">Upload CSV File</div>
      <div class="container mx-auto w-full max-w-xs">
        <form class="bg-white rounded px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input class="inline-block font-bold text-xs text-blue-500" type="file" name="file" id="file">
          <input class="bg-blue-500 text-white font-bold py-2 px-2 rounded" type="submit" name="submit">
        </form>
      </div>
    </div>
    <div class="w-1/2"></div>
  </div>
  <div class="m-10 mx-auto container font-bold text-indigo-600">Property Stats</div>
  <div class="container mx-auto flex justify-center">
    <div class="flex flex-col">
      <div class="w-full">
        <div class="border-b border-gray-200 shadow">
          <table id="table">
            <thead>
              <tr>
                <th class="px-6 py-2 text-sm text-gray-500">Property Name</th>
                <th class="px-6 py-2 text-sm text-gray-500">Price</th>
                <th class="px-6 py-2 text-sm text-gray-500">Rent</th>
                <th class="px-6 py-2 text-sm text-gray-500">EMI</th>
                <th class="px-6 py-2 text-sm text-gray-500">Tax</th>
                <th class="px-6 py-2 text-sm text-gray-500">Monthly Expense</th>
                <th class="px-6 py-2 text-sm text-gray-500">Net Expenses</th>
                <th class="px-6 py-2 text-sm text-gray-500">Net Income</th>
              </tr>
            </thead>
            <tbody>
              {% for object in data_objects %}
              <tr>
                <td class="px-6 py-4 text-sm text-gray-500 font-bold">{{object.name}}</td>
                <td class="px-6 py-4 text-sm text-green-500">{{object.price}}</td>
                <td class="px-6 py-4 text-sm text-green-500">{{object.rent}}</td>
                <td class="px-6 py-4 text-sm text-red-500">{{object.emi}}</td>
                <td class="px-6 py-4 text-sm text-red-500">{{object.tax}}</td>
                <td class="px-6 py-4 text-sm text-red-500">{{object.exp}}</td>
                <td class="px-6 py-4 text-sm text-red-500">{{object.expenses_monthly}}</td>
                <td class="px-6 py-4 text-sm text-green-500">{{object.income_monthly}}</td>
              </tr>
              {% endfor %}
              <tr>
                <td class="px-6 py-4 text-sm text-gray-500 font-bold">Total</td>
                <td id="totalPrice" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                <td id="totalRent" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                <td id="totalEmi" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                <td id="totalTax" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                <td id="totalExp" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                <td id="totalExpense" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                <td id="totalIncome" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </br>
  </div>
  <div class="flex gap-8 m-10">
    <div class="w-1/2">
      <div class="bg-indigo-600 font-bold m-10">Income Chart</div>
      <div>
        <canvas width="400" height="400" id="myChart"></canvas>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const table = document.getElementById("table");
    let net_prices = 0;
    let net_rent = 0;
    let net_emi = 0;
    let net_tax = 0;
    let net_exp = 0;
    let net_monthly_expense = 0;
    let net_income = 0;

    let property = "";

    let total_prices = 0;
    let total_rent = 0;
    let total_emi = 0;
    let total_tax = 0;
    let total_exp = 0;
    let total_monthly_expense = 0;
    let total_income = 0;

    // arrays for populating chart
    let net_incomes = [];
    let properties = [];

    for (let i = 1; i < table.rows.length - 1; i++) {
      net_prices = table.rows[i].cells[1].innerText;
      net_rent = table.rows[i].cells[2].innerText;
      net_emi = table.rows[i].cells[3].innerText;
      net_tax = table.rows[i].cells[4].innerText;
      net_exp = table.rows[i].cells[5].innerText;
      net_monthly_expense = table.rows[i].cells[6].innerText;
      net_income = table.rows[i].cells[7].innerText;
      property = table.rows[i].cells[0].innerText;


      net_incomes.push(net_income);
      properties.push(property[0].toUpperCase() + property.substr(1).toLowerCase());

      net_prices = +net_prices;
      net_rent = +net_rent;
      net_emi = +net_emi;
      net_tax = +net_tax;
      net_exp = +net_exp;
      net_monthly_expense = +net_monthly_expense;
      net_income = +net_income;

      total_prices += net_prices;
      total_rent += net_rent;
      total_emi += net_emi;
      total_tax += net_tax;
      total_exp += net_exp;
      total_monthly_expense += net_monthly_expense;
      total_income += net_income;
    }
    document.getElementById("totalPrice").innerHTML = total_prices;
    document.getElementById("totalRent").innerHTML = total_rent;
    document.getElementById("totalEmi").innerHTML = total_emi;
    document.getElementById("totalTax").innerHTML = total_tax;
    document.getElementById("totalExp").innerHTML = total_exp;
    document.getElementById("totalIncome").innerHTML = total_income;
    document.getElementById("totalExpense").innerHTML = total_monthly_expense;

    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
    type: 'bar',
    data: {
      labels: properties,
      datasets: [{
        label: 'Income in dollars',
        data: net_incomes,
        backgroundColor: [
          "rgba(236, 192, 255, 0.7)",
          "rgba(204, 255, 237, 0.7)",
          "rgba(255, 229, 204, 0.7)",
          "rgba(204, 221, 255, 0.7)",
          "rgba(255, 204, 230, 0.7)",
          "rgba(204, 255, 255, 0.7)",
          "rgba(255, 242, 204, 0.7)",
          "rgba(255, 204, 204, 0.7)",
          "rgba(204, 255, 204, 0.7)",
          "rgba(255, 204, 255, 0.7)",
        ],
        borderColor: [
          "rgba(236, 192, 255, 1)",
          "rgba(204, 255, 237, 1)",
          "rgba(255, 229, 204, 1)",
          "rgba(204, 221, 255, 1)",
          "rgba(255, 204, 230, 1)",
          "rgba(204, 255, 255, 1)",
          "rgba(255, 242, 204, 1)",
          "rgba(255, 204, 204, 1)",
          "rgba(204, 255, 204, 1)",
          "rgba(255, 204, 255, 1)",
        ],
        borderWidth: 5
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
    });
  </script>
</body>
</html>